html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

p.locked-twin {
  flex-basis: 100%;
}

.price-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.price-card .price-text {
  font-size: 2rem;
}

.card-price-logo-container {
  min-height: 100px;
}

.twin-bg-gradient {
  background: rgb(37, 223, 150);
  background: linear-gradient(90deg, rgba(37, 223, 150, 1) 0%, rgba(0, 88, 202, 1) 100%);
}

.dop-bg-gradient {
  background: rgb(56, 189, 248);
  background: linear-gradient(90deg, rgba(56, 189, 248, 1) 0%, rgba(134, 239, 172, 1) 100%);
}

.card-price-logo-container img {
  max-width: 60px;
}

@media (max-width: 991.98px) {
  body {
    padding-bottom: 120px;
  }

  .footer {
    height: 120px;
  }
}

#lp_holdings img,
#mint_positions img {
  max-height: 20px;
  max-width: 20px;
}

#twin_price,
#dop_price {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
  #buy_me_coffee {
    text-align: right;
  }
}

#buy_me_coffee {
  font-size: 10px;
}

.countdown {
  text-transform: uppercase;
  font-weight: bold;
}

.countdown span {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  margin-left: 0.8rem;
}

.countdown span:first-of-type {
  margin-left: 0;
}

.footer-content {
  vertical-align: middle;
  display: inline-block;
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 100%;
}

.mint-position-progress {
  height: 20px;
  background: linear-gradient(90deg, rgba(220, 53, 69, 1) 0%, rgba(220, 53, 69, 1) 15%, rgba(171, 168, 0, 1) 20%, rgba(0, 134, 8, 1) 100%);
}

.mint-position-progress .progress-bar {
  color: #fff !important;
}

.progress-bar-mask {
  background-color: #e9ecef;
}

[data-bs-color-scheme="dark"] .progress-bar-mask {
  background-color: #3b3b3b;
}

[data-bs-color-scheme="dark"] .bg-light {
  background-color: #3b3b3b !important;
}

[data-bs-color-scheme="dark"] .btn-outline-light {
  color: #9e9e9e;
  border-color: #9e9e9e;;
}

[data-bs-color-scheme="dark"] .btn-outline-light:hover {
  color: #000;
  background-color: #9e9e9e;
  border-color: #9e9e9e;
}

[data-bs-color-scheme="light"] .btn-outline-light:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

[data-bs-color-scheme="light"] .btn-outline-light {
  color: #212529;
  border-color: #212529;
}
