.card {
  border: 0;
  border-radius: 30px;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

.btn {
  color: white;
  border-radius: 12px;
}

.form-control {
  border-color: rgba(#6c757d, 0.3);
  border-radius: 12px;
}

.navbar-brand {
  transition: 0.25s;
}

.navbar-brand:hover {
  transform: rotate(-5deg);
}
